.ka_tag {
  background-color: #ecf5ff;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #409eff;
  border: 1px solid #d9ecff;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  transition: all 2s;
}

.ka_tag--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a;
}

.ka_tag--info {
  background-color: #f4f4f5;
  border-color: #e9e9eb;
  color: #909399;
}

.ka_tag--warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c;
}

.ka_tag--danger {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c;
}

.ka_close {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    font-style: normal
}
.ka_close:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #409eff;
    border-radius: 50%;
}
.ka_tag--medium {
    height: 28px;
    line-height: 26px;
}
.ka_tag--medium .el-icon-close {
    transform: scale(.8);
}
.ka_tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;
}
.ka_tag--small .el-icon-close {
    transform: scale(.8);
}
.ka_tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px;
}
.ka_tag--mini .el-icon-close {
    transform: scale(.7);
}
